body {
    background-color: #080808;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: x-small;
    color: #666666;
}

ul, ol {
    list-style: none;
}

.gridster {
    margin: 0 auto;
    opacity: .8;

    -webkit-transition: opacity .6s;
    -moz-transition: opacity .6s;
    -o-transition: opacity .6s;
    -ms-transition: opacity .6s;
    transition: opacity .6s;
}

.gridster .gs_w {
    background: #FFF;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.gridster ul li {
    background-color: #2e2e2e;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #303030;
    -webkit-box-shadow: 1px 1px 1px #303030;
}

.gridster ul li:hover {
    box-shadow: 0px 0px 10px #ffffff;
    -webkit-box-shadow: 0px 0px 10px #ffffff;
}